<h1>
	{{!-- <span>DC</span> --}}
	{{!-- <span class="line"></span> --}}
	Moods
	{{!-- <span>17</span> --}}
	{{!-- <span class="line"></span> --}}
</h1>

<div class="container">
	<div class="mood">
		<a href="/pumped">
			<h3>Pumped</h3>
		</a>
	</div>
	<div class="mood">
		<a href="/relaxing">
			<h3>Relaxing</h3>
		</a>
	</div>
	<div class="mood">
		<a href="/sad">
			<h3>Sad</h3>
		</a>
	</div>
	<div class="mood">
		<a href="/happy">
			<h3>Happy</h3>
		</a>
	</div>
</div>